#define base01 #383830
#define base02 #49483e
#define base04 #a59f85
#define base06 #f5f4f1
#define base09 #fd971f
#define base0F #cc6633

! Black
#define base00 #292B2E
#define base03 #75715e
URxvt.color0:       base00
URxvt.color8:       base03
! Red
#define base08 #e0211d
URxvt.color1:       base08
URxvt.color9:       base08
! Green
#define base0B #a6e22e
URxvt.color2:       base0B
URxvt.color10:      base0B
! Yellow
#define base0A #f4bf75
URxvt.color3:       base0A
URxvt.color11:      base0A
! Blue
#define base0D #4f97d7
URxvt.color4:       base0D
URxvt.color12:      base0D
! Magenta
#define base0E #c56ec3
URxvt.color5:       base0E
URxvt.color13:      base0E
! Cyan
#define base0C #2aa1ae
URxvt.color6:       base0C
URxvt.color14:      base0C
! Whyte
#define base05 #cccccc
#define base07 #f9f8f5
URxvt.color7:       base05
URxvt.color15:      base07

URxvt.foreground:   base05
URxvt.background:   base00
URxvt.cursorColor:  base05


! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
URxvt.color16:      base09
URxvt.color17:      base0F
URxvt.color18:      base01
URxvt.color19:      base02
*.color20:      base04
*.color21:      base06

urxvt*depth: 32
urxvt*background: rgb:29/2b/2e

URxvt.font: xft:Fira Code:size=9,\
            xft:Noto Sans Mono:size=9,\
            xft:Noto Emoji:size=9,\
            xft:Unifont:size=9
! URxvt.letterSpace:-5
Xft.dpi:        100
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.autohint:  true
Xft.hintstyle:  hintfull

URxvt.internalBorder:      6
URxvt.externalBorder:      0
URxvt.scrollBar: false
Urxvt.urlLauncher: /usr/bin/firefox-developer-edition
