"*":
  "activate-power-mode":
    autoToggle: false
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake: {}
  build:
    saveOnBuild: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "atom-bootstrap4"
      "ex-mode"
      "vim-mode"
      "keyboard-localization"
      "atom-autocomplete-php"
      "php-composer-completion"
    ]
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "monokai-shade"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Meslo"
    fontSize: 13
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
  "exception-reporting":
    userId: "248d5cd4-e526-f3dd-7600-f7179658edca"
  "git-plus":
    general:
      _analyticsUserId: "7b2dd604-7e12-4b24-922b-4c49e62e610b"
  racer:
    racerBinPath: "/sbin/racer"
    rustSrcPath: "/usr/src/rust/src/"
  "seti-ui":
    compactView: true
    font: "Default Atom Font"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".diff.source":
  editor:
    preferredLineLength: 100
